{% extends "bootstrap/base.html" %} {% block title %} Dashboard {% endblock %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}"> {% endblock %} {% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">SGV</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="http://localhost:5000/dashboard">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="http://localhost:5000/clientes">Clientes</a></li>
                <li><a href="http://localhost:5000/produtos">Produtos</a></li>
                <li><a href="http://localhost:5000/orcamentos">Orçamentos</a></li>
                <li><a href="http://localhost:5000/pedidos">Pedidos</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="http://localhost:5000/cadastrar_clientes">Adicionar cliente</a></li>

                <li><a href="http://localhost:5000/orcamento_iniciar">Começar orçamento</a></li>
                <li><a href="">Enviar pedido</a></li>

            </ul>

            <ul class="nav nav-sidebar">

                <li><a href="">Relatórios</a></li>

            </ul>



        </div>

        <div class="container">

            <form method="POST" action="/cadastrar_produto">
                {{ form.csrf_token }} {{ form.nome.label }} {{ form.nome(size=15) }} {{ form.csrf_token }} {{ form.descricao.label }} {{ form.descricao(size=50) }} {{ form.csrf_token }} {{ form.preco.label }}{{ form.preco(size=20) }} {{ form.csrf_token}} {{ form.tipo_de_calculo.label}}{{
                form.tipo_de_calculo(size=150) }}

                <input type="submit" value="Criar">
            </form>

        </div>



        {% endblock %}